<h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: 'no_image.jpg' %>
      <table class="table">
        <tbody>
         <tr></tr>
         <tr>
           <th>name</th>
           <th><%= user.name %></th>
         </tr>
         <tr>
           <th>introduction</th>
           <th><%= user.introduction %></th>
         </tr>

　　　  <tr>
　　　      <th>follows</th>
　　　      <th><%= link_to "#{user.followers.count} #{User.human_attribute_name("followeds")}", followeds_user_path(user) %></th>
　　　  </tr>
       <tr>
           <th>followers</th>
           <th><%= link_to "#{user.followeds.count} #{User.human_attribute_name("followers")}", followers_user_path(user) %></th>
       </tr>





        </tbody>
      </table>


